/* header */

@media screen and (max-width: 865px) {
    header nav .burger {
        display: block;
        overflow: hidden;
    }

    header nav .burger.burger-active .line:nth-child(1) {
        transform: translateY(10px) rotate(-45deg);
    }

    header nav .burger.burger-active .line:nth-child(2) {
        opacity: 0;
        transform: translateX(-100%);
    }

    header nav .burger.burger-active .line:nth-child(3) {
        transform: translateY(-10px) rotate(45deg);
    }

    main .main-section .main-section__hero .banner-title {
        font-size: var(--font-size-small);
    }

    .slide-button,
    main .main-section .main-section__hero h1,
    main .main-section .main-section__hero p {
        animation: none;
        position: inherit;
    }

    header nav .nav-menu {
        width: 100%;
        min-height: 90vh;
        position: absolute;
        top: 8.2rem;
        left: 0;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        transform: translateX(-100%);
        background: #221917;
        transition: transform 0.5s ease;
    }

    header nav .nav-menu.menu-active {
        transform: translateX(0);
    }

    header nav .nav-menu .nav-li .nav-link {
        filter: blur(30px);
        transform: translateX(-50%);
        opacity: 0;
    }
}

/* main-section */
@media (max-width: 1000px) {
    main .main-section {
        height: 100vh;
        background-position: center center;
    }

    main .main-section .main-section__hero .banner-title {
        font-size: var(--font-size-medium);
    }
}

@media (max-width: 620px) {
    main .main-section {
        height: 100vh;
        background-position: center center;
    }

    main .main-section .main-section__hero .banner-title {
        font-size: var(--font-size-small);
    }
}



@media (max-width: 400px) {
    main .main-section {
        height: 60vh;
        background-position: center center;
    }

    main .main-section .main-section__hero {
        height: 80%;
        display: flex;
        justify-content: space-evenly;
    }

    main .main-section .main-section__hero .banner-title,
    main .main-section .main-section__hero p,
    main .main-section .main-section__hero a button {
        font-size: var(--font-size-smaller);
    }
}



/* div > features */

@media only screen and (max-width: 1045px) {
    .box {
        width: 45%;
        margin: 10px 15px;
    }
}

@media only screen and (max-width: 730px) {
    .features {
        flex-direction: column;
        align-items: center;
    }

    .box {
        width: 100%;
        margin: 10px 0;
    }
}

/* top and bottom sections */

@media (max-width: 920px) {

    .section-top,
    .section-bottom {
        height: 30vh;
    }


    .section-wrapper-card {
        padding: 1rem;
    }

    .section-top .section-wrapper-card h2,
    .section-bottom .section-wrapper-card h2 {
        font-size: 1rem;
    }

    .section-top .section-wrapper-card img,
    .section-bottom .section-wrapper-card img {
        margin-top: 1rem;
    }
}

@media (max-width: 500px) {
    .photo-gallery {
        flex-direction: column;
    }
}

/*modal*/


@media (max-width: 550px) {

    .login-form label,
    .login-form input,
    .login-form button,
    .remember-me,
    .forgot-password-link {
        font-size: var(--font-size-smaller);
    }

    .submit-link button {
        padding: 0.4rem 1rem;
    }

}

@media (max-width: 385px) {
    .modal {
        left: 15%;
        top: 20%;
        width: 70%;
    }

    .modal-content {
        width: 90%;
    }

    .login-form input {
        padding: 0.1rem;
    }

    .login-form input[type="text"]::placeholder {
        font-size: var(--font-size-smaller);
    }

}

/* gallery */

@media (max-width: 1024px) {
    .grid {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 580px) {
    .grid {
        grid-template-columns: 1fr;
    }
}

@media (max-width:1000px) {

    .cover-box>h1 {
        font-size: var(--font-size-small);
    }
}

@media (max-width:865px) {

    .photo-story,
    .cover-box>h5,
    .cover-box>h1,
    .cover-box .date,
    .cover-box .date>span,
    .image-link {
        animation: none;
    }
}

@media (max-width:640px) {

    .cover-box .photo-story,
    .cover-box>h1 {
        font-size: var(--font-size-smaller);
    }
}

/* about */

@media (max-width:865px) {
    .about-box-text {
        animation: none;
    }

}

@media (max-width: 730px) {
    .about-box {
        width: 100%;
    }

    .card {
        width: 85%;
    }

    .about-box-text {
        height: 60%;
    }

    .about-title {
        font-size: var(--font-size-small);
    }

}

@media (max-width: 585px) {

    .title-discreption,
    .about-title {
        font-size: var(--font-size-smaller);
    }
}

/* footer */
@media (max-width: 720px) {

    footer .menu,
    footer form {
        display: flex;
        gap: 1rem;
    }
}

@media (max-width: 450px) {

    footer ul,
    footer form {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        align-items: center;
    }

}