:root {
    --primary-color: hsl(290, 60%, 70%);
    --text-primary-color: white;
    --background-primary-color: #221917;
    --font-size-smaller: 0.7rem;
    --font-size-small: 1.1rem;
    --font-size-large: 3rem;
    --font-size-medium: 1.8rem;
    --line-height: 1.5;





}


html,
body {
    overflow-x: hidden;
}

html {
    scroll-behavior: smooth;
}

html.overflow-h {
    overflow-y: hidden;
}

body {
    font-family: sans-serif;
    background-color: var(--background-primary-color);
}

header {
    background: #221917;
    border-bottom: 1px solid var(--primary-color)
}

.container {
    max-width: 1326px;
    width: 90%;
    margin: 0 auto;
}

.section-separation {
    margin: 2rem 0 2rem;

}

header nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 3rem 0;
}

.nav-logo {
    font-size: var(--font-size-medium);
    color: var(--primary-color)
}

.nav-logo .nav-logo-name {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

header nav .nav-menu {
    display: flex;
    gap: 4rem;
}

header nav ul li a {
    color: var(--primary-color);
    text-transform: uppercase;
    font-size: var(--primary-font-size);
    letter-spacing: 3px;
    display: inline-block;
    position: relative;
}

header nav .nav-menu .nav-li a:after {
    content: '';
    position: absolute;
    width: 100%;
    height: 1px;
    bottom: -4px;
    left: 0;
    background-color: #ecc5cb;
    visibility: hidden;
    transform: scaleX(0);
    transition: all 0.3s ease-in-out ;
}

header nav .nav-menu .nav-li a:hover:after {
    visibility: visible;
    transform: scaleX(1);
}


header nav .nav-menu .nav-li a.active-link::after{
    visibility: visible;
    transform: scaleX(1);
}


header nav .burger {
    display: none;
    cursor: pointer;
}

header nav .burger>.line {
    width: 32px;
    height: 2px;
    background: #fff;
    margin: 0.5rem 0;
    transition: transform 0.5s ease, opacity 0.3s ease;
}

main .main-section {
    background: url("../images/main-img/nature.jpg") no-repeat;
    background-size: cover;
    /* background-attachment: fixed; */
    height: 100vh;
}


.logo-image:hover {
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
}

main .main-section .main-section__hero {
    height: 70%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    color: var(--text-primary-color);
}


main .main-section .main-section__hero h1,
main .main-section .main-section__hero p {
    animation: slide-in 1s forwards;
}

@keyframes slide-in {
    0% {
        opacity: 0;
        transform: translateX(-100%);
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

main .main-section .main-section__hero .banner-title {
    font-size: var(--font-size-large);
    font-weight: bold;
}

main .main-section .main-section__hero p {
    font-size: var(--font-size-small);
    width: 80%;
    text-align: center;
}

main .main-section .main-section__hero .sign-up {
    font-size: var(--font-size-small);
    border: 1px solid;
    color: var(--primary-color);
    background: white;
    padding: 10px 30px 10px 30px;
    border-radius: 20px;
    cursor: pointer;
}

.slide-button {
    position: absolute;
    bottom: 20%;
    animation: slide-in-right 1s forwards;
}

@keyframes slide-in-right {
    0% {
        transform: translateX(300%);
    }

    100% {
        transform: translateX(0);
    }
}


main .main-section .main-section__hero .sign-up:hover {
    filter: drop-shadow(2px 4px 6px rgb(46, 30, 34));
    transform: scale(1.1);
    transition: all 0.4s ease;
    background-color: var(--background-primary-color)
}

@keyframes navLinkFade {
    0% {
        filter: blur(30px);
        transform: translateX(-50%);
        opacity: 0;
    }

    100% {
        transform: translateX(0);
        filter: blur(0);
        opacity: 1;
    }
}


h4 {
    font-size: var(--font-size-medium);
    text-align: center;
    font-weight: bold;
    color: var(--text-primary-color);
}


.features {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 3rem;

}

.box {
    width: 29%;
    margin: 20px;
    padding: 10px;
    transition: border-color 0.7s ease;
    border-bottom-right-radius: 80px 80px;
    border: 1px dashed;
    border-color: #f19a2799;

}

.box:hover {
    border-style: inset;
    border-top-right-radius: 25%;
    background-clip: content-box;
    border-color: rgb(233, 180, 247) #f19a2799 #bddfff;
}

.box .text {
    padding: 2rem 0rem 2rem 0rem;
    color: var(--text-primary-color);
}

h3 {
    font-size: var(--font-size-medium);
}

.box p {
    font-size: var(--font-size-small);
    line-height: 1.5;
    margin-top: 25px;
}

.wrapper {
    background-size: cover;
    background-position: center;
    height: 60vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 2rem;
}

.section-top {
    background-image: url("../images/main-img/orange.jpg");
    background-attachment: fixed;
}

.section-bottom {
    background-image: url("../images/main-img/red.jpg");
    background-attachment: fixed;
}

.section-banner-title {
    font-size: var(--font-size-large);
}

.section-wrapper-card {
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    text-align: center;
    padding: 1.5rem;
    border-radius: 2rem;
}

.section-banner-icon {
    max-width: 100%;
    height: auto;
    margin-top: 1.5rem;
}

.card-bottom-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    color: var(--text-primary-color)
}

.card-bottom-text p {
    font-size: var(--font-size-small);
}

.main-button {
    font-size: var(--font-size-small);
    border: 1px solid;
    background-color: var(--background-primary-color);
    color: var(--text-primary-color);
    padding: 1rem 2rem;
    border-radius: 20px;
    cursor: pointer;
}

.first-button:hover {
    color: #e67525;
    background-color: var(--text-primary-color);
    filter: drop-shadow(1px 1px 2px);
}

.second-button:hover {
    color: #da1f1f;
    background-color: var(--text-primary-color);
    filter: drop-shadow(1px 1px 2px);
}

.photo-gallery {
    display: flex;
    gap: 20px;
    padding: 40px 0;
}

.column {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.photo img {
    width: 100%;
    border-radius: 5px;
    object-fit: cover;
    filter: drop-shadow(2px 1px 5px #7e5915);
}

.photo {
    transition: all 0.5s ease;
}

.photo.hidden-image {
    transform: scale(0);
    opacity: 0;
    filter: blur(5px);
}

.photo.show-image {
    transform: scale(1);
    filter: blur(0);
    opacity: 1;
}

.portfolio-photo {
    width: 100%;
    height: auto;
    max-width: 700px;
}

footer {
    text-align: center;
    border-top: 1px solid var(--primary-color);
}

.center {
    display: flex;
    justify-content: center;
}

.footer-wrapper {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    margin-top: 2rem;
}

footer p {
    color: var(--text-primary-color);
    max-width: 20rem;
    margin: 0 auto;
}

footer a {
    color: var(--primary-color);
}

.media-icons a {
    width: 3rem;
    height: 3rem;
    border: 1px var(--primary-color) solid;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.3s;

}

.media-icons a:hover {
    background-color: var(--primary-color);
}

footer ul,
footer form {
    display: flex;
    justify-content: center;
    gap: 2rem;

}

.input-form input {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid var(--primary-color);
    margin-right: 10px;
    font-size: 16px;
    width: 250px;
}

.input-form button {
    background-color: var(--background-primary-color);
    color: var(--text-primary-color);
    padding: 10px;
    border: 1px solid var(--primary-color);
    border-radius: 5px;
    cursor: pointer;
    font-size: var(--primary-font-size);
}

.input-form button:hover {
    background-color: var(--primary-color);

}

.modal {
    display: none;
    justify-content: center;
    align-items: center;
    position: fixed;
    z-index: 9;
    left: 0;
    top: 0;
    width: 100%;
    min-height: 100vh;
    background-color: rgba(59, 24, 24, 0.4);
}

.modal-content {
    background-color: var(--text-primary-color);
    padding: 20px;
    max-width: 350px;
    width: 90%;

}

.close {
    color: #aaa;
    float: right;
    font-size: var(--font-size-medium);
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.login-form {
    display: flex;
    flex-direction: column;
}

.login-form label {
    margin-bottom: 0.7rem;
    color: var(--background-primary-color);
}

.login-form input,
.login-form input {
    color: var(--background-primary-color);
    padding: 0.5rem;
    border-radius: 0.8rem;
    border: 1px solid var(--primary-color);
    margin-bottom: 1rem;
}

.submit-link {
    text-align: center;
}

.login-form button {
    color: var(--background-primary-color);
    font-size: var(--font-size-small);
    border: 1px solid var(--primary-color);
    border-radius: 0.8rem;
    padding: 0.7rem 3rem;
    margin-top: 0.7rem;
    cursor: pointer;
}

.login-form button:hover {
    background-color: var(--background-primary-color);
    color: var(--primary-color);
}

.forgot-password-link {
    margin-top: 1rem;
    font-size: var(--font-size-small);
    text-align: right;
    color: var(--background-primary-color);
    text-decoration: underline 2px var(--primary-color);
}


.image-wrapper {
    display: block;
    height: 500px;
    position: relative;
    transition: all .3s;

}

.grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.image-wrapper::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 5px;
    background-image: linear-gradient(27deg, #FFC593 0%, #BC7198 49%, #5A77FF 95%);
}

.image-wrapper:hover {
    transform: translateY(-25px);
}

.image-wrapper:hover .image-box {
    transform: scale(1.05);
}

.image-box {
    transition: transform 0.2s ease-in-out;
}

.image-text {
    bottom: 0;
    padding: 1rem;
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
    width: 100%;
    opacity: 0;
    transition: opacity 0.2s ease-in-out;
}

.image-wrapper:hover .image-text {
    opacity: 1;
}



.image {
    height: 100%;
    display: flex;
    align-items: flex-end;
    padding: 35px 0;
}

.image-background {
    background-repeat: no-repeat;
    background-size: cover;

}

.image-1 {
    background-image: url(../images/main-img/gallery-images/mountains.jpg);
}

.image-2 {
    background-image: url(../images/main-img/gallery-images/cityscapes.jpg);
}

.image-3 {
    background-image: url(../images/main-img/gallery-images/18-days-voyage.jpg);
}

.image-4 {
    background-image: url(../images/main-img/gallery-images/architecturals.jpg);
}

.image-5 {
    background-image: url(../images/main-img/gallery-images/world-tour.jpg);
}

.image-6 {
    background-image: url(../images/main-img/gallery-images/unforeseen-corners.jpg);
}

.image-7 {
    background-image: url(../images/main-img/gallery-images/king-on-africa.jpg);
}

.image-8 {
    background-image: url(../images/main-img/gallery-images/trip-to-nowhere.jpg);
}

.image-9 {
    background-image: url(../images/main-img/gallery-images/rage-of-the-sea.jpg);
}

.image-10 {
    background-image: url(../images/main-img/gallery-images/running-free.jpg);
}

.image-11 {
    background-image: url(../images/main-img/gallery-images/behind-the-waves.jpg);
}

.image-12 {
    background-image: url(../images/main-img/gallery-images/calm-waters.jpg);
}

.image-13 {
    background-image: url(../images/main-img/gallery-images/milky-way.jpg);
}

.image-14 {
    background-image: url(../images/main-img/gallery-images/dark-forest.jpg);
}

.image-15 {
    background-image: url(../images/main-img/gallery-images/somwarpet.jpg);
}

.image-16 {
    background-image: url(../images/main-img/gallery-images/land-of-dreams.jpg);
}

.image-box {
    color: #ffffff;
    width: 80%;
    max-width: 100%;
    position: absolute;
    left: 20px;
}

.image-text {
    border-bottom: 1px solid #ffffff;
    padding: 10px 5px 18px;
}

.image-text>span {
    margin-top: 5px;
    font-size: var(--font-size-smaller);
}

.image-title {
    font-family: "DM Sans Bold", sans-serif;
    font-size: var(--font-size-small);
    line-height: var(--line-height);
}

.image-box .image-text .image-content {
    margin-top: 5px;
    font-size: var(--font-size-smaller);
}

.image-link {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 18px 5px 5px;
    animation: slide-in-right 1s forwards;

}

.image-link h6 {
    color: var(--text-primary-color);
    text-transform: uppercase;
    font-family: "DM Sans Bold", sans-serif;
    font-size: var(--font-size-smaller);
    letter-spacing: 2px;
}

.arrow {
    width: 70px;
    cursor: pointer;
}

.gallery-main-cover {
    background-image: url(../images/main-img/gallery-images/sea.jpg);
    background-size: cover;
    height: 100vh;
}

.height {
    height: 100%;
}

.cover-box {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1.2rem;
    margin: auto;
    align-items: center;
}

.cover-box>h5 {
    font-size: var(--font-size-small);
    color: var(--text-primary-color);
    letter-spacing: 2px;
}

.cover-box>h1 {
    font-size: var(--font-size-medium);
    color: var(--text-primary-color);
    text-transform: uppercase;
    letter-spacing: 2.8px;
}

.cover-box .date {
    font-size: var(--font-size-small);
    color: #d9d9d9;
}

.cover-box .date>span {
    font-size: var(--font-size-small);
    color: var(--text-primary-color);
    font-weight: bold;
}

.photo-story {
    font-size: var(--font-size-small);
    color: #d9d9d9;
    line-height: var(--line-height);
    letter-spacing: 1px;
    animation: slide-in 1s forwards;
}

.cover-box>h5,
.cover-box>h1,
.cover-box .date,
.cover-box .date>span {
    animation: slide-in-right 1s forwards;
    ;
}

@media (max-width:1000px) {

    .cover-box>h1 {
        font-size: var(--font-size-small);
    }
}

@media (max-width:640px) {
    .cover-box .photo-story,
    .cover-box>h1 {
        font-size: var(--font-size-smaller);
    }
}